@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<CommonResources> SharedLocalizer

@inject SignInManager<MovieUser> SignInManager
@inject UserManager<MovieUser> UserManager



@if (User.Identity.IsAuthenticated)
{
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
        <button type="submit" class="nav-link btn btn-link text-dark">@SharedLocalizer["Logout"]</button>
    </form>
}
else
{
    <div class="col-lg-1">
        <div class="header__right">
            <a style="font-size: 18px" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">@SharedLocalizer["Register"]</a>
        </div>
    </div>
    <div class="col-lg-1">
        <div class="header__right">
            <a style="font-size:18px" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">@SharedLocalizer["Login"]</a>
        </div>
    </div>
}
            </div>